body {
    background-color: #f2f2f2;
    font-family: 'Raleway';
}

.add {
    display: block;
    background-color: $mainColor;
    text-align: center;
    margin-right: 12px;
    font-weight: bold;
    font-size: 23px !important;
    cursor: pointer;
    color: #fff !important;
}
